html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background: #000;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}
.SearchBar input {
  margin-left: 16px;
  margin-right: -16px;
}

.videoDetail {
  display: grid !important;
  /* grid-template-columns: 6fr 3fr 3fr; */
  grid-template-columns: 8fr 4fr;
  gap: 10px;
  justify-items: center;
}
.react-player {
  height: 490px !important;
}
.vidImg{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .videoDetail {
    grid-template-columns: 10fr 2fr;
  }
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
  .react-player {
    height: 570px !important;
  }
}

@media screen and (max-width: 600px) {
  .videoDetail {
    grid-template-columns: 1fr;
  }
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 200px !important;
  }
  .search-bar {
    width: 200px;
  }
  .SearchBar {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SearchBar:hover {
    width: 70%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .SearchBar input {
    opacity: 0;
    position: absolute;
    left: -100px;
  }
  .SearchBar:hover input {
    opacity: 1;
    position: relative;
    left: 0px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .react-player {
    height: 430px !important;
  }
}
@media screen and (max-width: 425px) {
  .react-player {
    height: 200px !important;
  }
}
